.ReactModal__Overlay {
   background: rgba(0, 0, 0, 0.9) !important;
   z-index: 1000 !important;
}
.ReactModal__Content {
   display: flex;
   justify-content: center;
   align-items: center;
   background: #1d1e1f !important;
   border: none !important;
   border-radius: 15px !important;
   min-width: 50vw;
   min-height: 55vh;
   top: 50% !important;
   left: 50% !important;
   transform: translate(-50%, -50%) !important;
}
/* ---------------------------------------- */
.modal-content {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.close-button {
   background: none;
   position: absolute;
   top: 10px;
   right: 20px;
   width: 25px;
   height: 25px;
}
.close-button img {
   width: 25px;
   height: 25px;
}
@media all and (max-width: 1920px) {
   .ReactModal__Content {
      min-width: 2vw;
      min-height: 50vh;
   }
}
@media all and (max-width: 1024px) {
   .ReactModal__Content {
      min-width: 40vw;
      min-height: 60vh;
      align-items: flex-start;
   }
   .modal-content {
      padding: 30px;
   }
   .close-button {
      top: 10px;
      right: 15px;
      width: 20px;
      height: 20px;
   }
   .close-button img {
      width: 20px;
      height: 20px;
   }
}
@media all and (max-width: 820px) {
   .ReactModal__Content {
      min-height: 62vh;
      min-width: 8vw;
      padding: 40px;
   }
   .modal-content {
      flex-direction: column;
      padding: 50px;
   }
   .close-button {
      top: 15px;
      right: 25px;
      width: 30px;
      height: 30px;
   }
   .close-button img {
      width: 30px;
      height: 30px;
   }
}
@media all and (max-width: 540px) {
   .ReactModal__Content {
      min-width: 95vw;
      min-height: 10vh;
   }
   .info-container .character-img {
      width: 300px;
      height: 300px;
   }
   .modal-content {
      flex-direction: column;
      padding: 50px;
   }
}
@media all and (max-width: 420px) {
   .ReactModal__Content {
      min-width: 95vw;
      min-height: 10vh;
   }
   .modal-content {
      padding: 20px;
   }
   .info-container .character-img {
      width: 250px;
      height: 250px;
   }
   .close-button {
      top: 10px;
      right: 20px;
      width: 25px;
      height: 25px;
   }
   .close-button img {
      width: 25px;
      height: 25px;
   }
}
@media all and (max-width: 380px) {
   .ReactModal__Content {
      min-width: 95vw;
      min-height: 10vh;
   }
   .modal-content {
      padding: 10px;
   }
   .close-button {
      top: 10px;
      right: 20px;
      width: 25px;
      height: 25px;
   }
   .close-button img {
      width: 25px;
      height: 25px;
   }
}
